body {
    text-align: center;
}

h1 {
    font-size: 5rem;
}

.drum {
    outline: none;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
}

.w {
    background-color: red;
}

.a {
    background-color: orange;
}

.s {
    background-color: yellow;
}

.d {
    background-color: green;
}

.j {
    background-color: blue;
}

.k {
    background-color: indigo;
}

.l {
    background-color: violet;
}

.set {
    margin: 10%auto;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  


@media(max-width:1000px) {
    .drum {
        width: 350px;
        height: 200px;
        text-align: center;
        margin: 10px 10px 10px 323px;
        display: block;
    }
  }
